@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
}

.quote-cnt{
    width: 600px;
    height: 350px;
    background-color: #fefefe;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0,0,0, 0.05);
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    
}

h1{
    color:rgb(98, 98, 98);
    position: absolute;
    top:40px;
    
    font-family: 'Cinzel', serif;
    text-decoration: underline #5aa5db;
    text-align: center;
    width: 90%;
    font-size: 30px;
}

.quote{
    font-size: 25px;
    color:#494949;
    text-align: center;
    width: 80%;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;

    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 28px;
}



.author{
    position: absolute;
    color:#2d6091;
    right: 60px;
    bottom: 100px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}


.btns{
    position: absolute;
    width: 100%;
    bottom: 40px;
    left:50px;

}

#btn{
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    background-color: #519fd7;
    color: #fefefe;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    
}

#tweet{
    
    border: none;
    background-color: transparent;
    padding: 6px 20px;
    border-radius: 4px;
    margin-left: 20px;
    border: 2px solid #519fd7;
    color: #519fd7;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;

}